.day-menu-item {
	padding: 4px;
	margin: 4px;
	display: inline-block;
	font-size: 15px;
	margin-bottom: 30px;
	font-weight: 700;
	width: 19%;
	box-sizing: border-box;
	vertical-align: top;
}

.day-menu-item__day {
	border-bottom: 1px solid #fff;
	margin-bottom: 10px;
	font-weight: 700 ;
}


.day-menu-item__item {
	margin-bottom: 10px;
}

.day-menu-item__category {
	font-size: 12px;
	font-weight: 300;
}

@media only screen and (max-device-width: 480px) {
  .day-menu-item {
  	display: block;
  	width: auto;
  }
}