.day-menu-item {
	padding: 15px;
	margin: 4px;
	display: inline-block;
	font-size: 15px;
	margin-bottom: 10px;
	width: 19%;
  height: 300px;
	box-sizing: border-box;
	vertical-align: top;
  background: rgba(255, 255, 255, 0.28);
  border: 1px solid rgba(255, 255, 255, .31);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .32);
  position: relative;
}

.day-menu-item__day {
  font-size: 35px;
  position: absolute;
  top: -20px;
  left: -5px;
}

.day-menu-item_inactive {
  color: rgba(255, 255, 255, 0.55);
}

.day-menu-item__item {
	margin-bottom: 10px;
	min-height: 55px;
}

.day-menu-item__category {
	font-size: 12px;
	font-weight: 300;
}

@media only screen and (max-width: 840px) {
  .day-menu-item {
  	display: block;
  	width: auto;
  	border: 1px solid #ddd;
  	background: rgba(245, 245, 245, .55);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .12);
  }
  .day-menu-item__day {
  	color: rgba(0, 0, 0, .25);
  	font-size: 86px;
    left: 5px;
    top: -5px;
    font-size: 60px;
  }
  .day-menu-item__item {
  	margin-bottom: 20px;
  }
  .next-week .day-menu-item {
  	color: #929292;
  }
}
