/*.menu {
	background: rgba(255, 255, 255, 0.28);
	border: 1px solid rgba(255, 255, 255, 0.31);
}
*/
.menu-addition {
	margin-bottom: 20px;
}

/* Mobile */

@media only screen and (max-device-width: 480px) {
	.menu {
		background: #fff;
		padding-top: 20px;
		color: #545454;
	}
	.menu h2 {
		font-weight: 400;
	}
}