.App {
  text-align: center;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0 0;
}

.link {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.link:after {
  content: '';
  position: absolute;
  transition: 0.5s;
  bottom: 15px;
  width: 0%;
  background: #4F9951;
  height: 2px;
  display: block;
}

.link:hover:after {
  position: absolute;
  content: '';
  width: 100%;
}

.link_active {
  font-weight: bold;
}

.link_active:after {
  width: 100%;
}

@media only screen and (max-width: 840px) {
  .content {
    padding: 0;
  }
}

@media only screen and (max-width: 775px) {
}

/* Mobile */

@media only screen and (max-width: 480px) {
  .content {
    padding: 0;
  }
  .content h1{
    font-size: 24px;
  }
}

@media only screen and (max-width: 408px) {
}