.App {
  text-align: center;
}

.header {
  height: 72px;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  line-height: 72px;

}

.header__content {
  width: 960px;
  margin: 0 auto;

}

.header__right {
  float: right;
}

.header-right__menu {
  padding-right: 20px;
  display: inline-block;
}

.content {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}