html, body {
	height: 100%;	
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background: #4F9951 url('bg.jpg');
} 

.link {
	color: #525252;
}

a:active {
  color: inherit;
}

@media only screen and (max-device-width: 480px) {
  body {
  	background-size: cover;
  }
}